:root {
  --light-gris: rgb(146, 138, 138);
  --dark-gris: #494646;
  --bg-gral: #1c7251;
  --bg-header: var(--bg-gral);
  --lado-logo:50px;
  --width-logo:var(--lado-logo);
  --height-logo:var(--lado-logo);
  --diametro1: 25px;
  --diametro2: 12.5px;
  --width-game-pad: 65% ;
  --font-size-texto: 34px;
  --square-size: 70px; }

.bd-negro {
  border: 5px solid black; }

* {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  background: black; }

.kbd-navigation .square:focus {
  background: #ddd; }

.container {
  background: var(--bg-gral);
  margin: 5px auto;
  padding: 5px 5px; }

.cmd {
  background: var(--bg-gral);
  color: white;
  padding: 5px 10px;
  font-size: calc(var(--font-size-texto) * 0.8);
  font-weight: bold;
  border: 2px solid black;
  -webkit-box-shadow: black 5px 5px;
  box-shadow: black 5px 5px;
  border-radius: 5px; }

.cmd:hover {
  -webkit-box-shadow: black 0px 0px;
  box-shadow: black 0px 0px; }

.fila-tabl {
  width: 80%;
  height: 32%; }

.square {
  background: transparent;
  border: 3px solid black;
  color: white;
  font-size: var(--font-size-texto);
  font-weight: bold;
  height: var(--square-size);
  width: var(--square-size); }

.texto {
  font-weight: bold;
  color: white;
  font-size: calc(var(--font-size-texto) * 1.2);
  vertical-align: middle; }

/*quitamos los bordes de todo el contorno */
.sb-left {
  border-left: 0px; }

.sb-right {
  border-right: 0px; }

.sb-top {
  border-top: 0px; }

.sb-bottom {
  border-bottom: 0px; }

.radio {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-shadow: black 0px 0px;
  box-shadow: black 0px 0px;
  color: black;
  height: calc(var(--font-size-texto) * 0.8);
  margin: 5px 0px 5px 10px;
  width: var(--font-size-texto); }

header {
  border: white solid 2px;
  background-color: var(--bg-header);
  padding: 4px 4px 2px 4px;
  height: calc( var(--lado-logo) + var(--lado-logo) * 0.3); }

.main {
  background: var(--bg-gral);
  border: white solid 3px;
  margin: 25px auto;
  width: var(--width-game-pad);
  overflow: hidden; }

.YinYang {
  -ms-grid-column-align: center;
  justify-self: center;
  background: var(--bg-header);
  width: var(--width-logo);
  height: var(--height-logo);
  border: 0.2em solid var(--light-gris);
  border-radius: 50%;
  /* Produccion del yin-yang*/
  /*               diamet                 eje X  ,Y    colo01  %01  colo02      %02  posX posY    Size repeat*/
  background: radial-gradient(var(--diametro2) circle at 50% 25%, black 50%, transparent 50%), radial-gradient(var(--diametro2) circle at 50% 75%, white 50%, transparent 50%), radial-gradient(var(--diametro1) circle at 50% 25%, white 50%, transparent 50%), radial-gradient(var(--diametro1) circle at 50% 75%, black 50%, transparent 50%), -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, transparent)), black;
  background: -webkit-radial-gradient(50% 25%, var(--diametro2) circle, black 50%, transparent 50%), -webkit-radial-gradient(50% 75%, var(--diametro2) circle, white 50%, transparent 50%), -webkit-radial-gradient(50% 25%, var(--diametro1) circle, white 50%, transparent 50%), -webkit-radial-gradient(50% 75%, var(--diametro1) circle, black 50%, transparent 50%), -webkit-linear-gradient(left, white 50%, transparent 50%), black;
  background: -o-radial-gradient(50% 25%, var(--diametro2) circle, black 50%, transparent 50%), -o-radial-gradient(50% 75%, var(--diametro2) circle, white 50%, transparent 50%), -o-radial-gradient(50% 25%, var(--diametro1) circle, white 50%, transparent 50%), -o-radial-gradient(50% 75%, var(--diametro1) circle, black 50%, transparent 50%), -o-linear-gradient(left, white 50%, transparent 50%), black;
  background: radial-gradient(var(--diametro2) circle at 50% 25%, black 50%, transparent 50%), radial-gradient(var(--diametro2) circle at 50% 75%, white 50%, transparent 50%), radial-gradient(var(--diametro1) circle at 50% 25%, white 50%, transparent 50%), radial-gradient(var(--diametro1) circle at 50% 75%, black 50%, transparent 50%), linear-gradient(90deg, white 50%, transparent 50%), black;
}

.myBrand {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  margin: 0 3px; }

@media screen and (max-width: 1000px) {
  :root {
    --width-game-pad: 70%;
    --font-size-texto: 30px; } }

@media screen and (max-width: 900px) {
  :root {
    --width-game-pad: 75%;
    --font-size-texto: 28px;
    --square-size: 70px; } }

@media screen and (max-width: 769px) {
  :root {
    --width-game-pad: 80%;
    --font-size-texto: 24px;
    --square-size: 70px; } }

@media screen and (max-width: 640px) {
  :root {
    --width-game-pad: 95%;
    --font-size-texto: 22px;
    --square-size: 60px; }
  .radio {
    margin-left: 5px; }
  #cmdNewGame {
    margin-left: 0px !important; }
  
  .cmd {
    padding: 5px 4px; } }

@media screen and (max-width: 426px) {
  :root {
    --width-game-pad: 100%;
    --font-size-texto: 18px;
    --square-size: 50px; }
  #jugadorX {
    -webkit-box-shadow: black 1px 1px;
    box-shadow: black 1px 1px; }
  .radio {
    margin-left: 4px; }
  #cmdNewGame {
    margin-left: 0px !important; }
  .cmd {
    padding: 5px 0px; } }

@media screen and (max-width: 321px) {
  :root {
    --width-game-pad: 100%;
    --font-size-texto: 14px;
    --square-size: 40px; }
  #jugadorX {
    -webkit-box-shadow: black 1px 1px;
    box-shadow: black 1px 1px; }
  .radio {
    margin-left: 0px; }
  #cmdNewGame {
    margin-left: 0px !important; }
  .cmd {
    padding: 5px 0px; } }

[class*="-colu"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

[class*="-center-main"] {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*="-center-cross"] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

[class*="flex"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

[class*="-wrap"] {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-center {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.caja1 {
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
  width: 100%; }

.caja-cmd {
  margin-bottom: 0;
  width: 100%;
  background: #333; }

.d-iblok {
  display: inline-block; }

#cmdNewGame {
  margin: auto 0;
  margin-left: 5px; }
